.navbar{
    height: 60px;
    background: #eaf6f6;
    font-family: "Roboto", sans-serif;
    margin: 0;
    align-items: center;
    display: flex;
    padding: 5px;
    justify-content: space-around;
}
.logo{
    font-weight: 900;
    font-size: 30px;
    color: black;
}
.searchbar {
    width: 400px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.searchIcon {
    font-size: 30px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 60%;
}

.searchInput:focus {
    outline: none;
}
.navbarRightIcons{
    display: flex;
    gap: 40px;
}
.iconItem{
    font-weight: 500;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 10px;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.searchContainer{
    background-color: rgb(218, 218, 218);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 40;
    top: 10;
    left: 450px;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    padding-top: 90px;
}
.searchItems{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 400px;
    margin: 10px;
    padding: 20px;
    
}
.searchImage{
    margin-right: 50px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.searchItemText{
    display: flex;
    flex-direction: column;
}
.searchItemTitle{
    font-weight: 500;
}
@media (max-width: 600px) {
    .searchbar{
        width: 100px;
    }
    .logo{
        font-weight: 300;
        font-size: 20px;
        width: 50px;
    }
    .topbarIconBadge {
        right: 45px;
    }
    .navbarItemText{
        display: none;
    }
    .searchContainer{
        background-color: rgb(218, 218, 218);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 40;
        top: 10;
        left: 23px;
        height: 400px;
        overflow-y: scroll;
        padding: 10px;
        padding-top: 90px;
        margin-top: 10px;
    }
    .searchItems{
        background-color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 100%;
        width: 300px;
        margin: 10px;
        padding: 20px;
        
    }
}